@tailwind base;
@tailwind components;
@tailwind utilities;


.side-bar-css{
  background: rgb(55,71,79);
  background: -moz-linear-gradient(144deg, rgba(55,71,79,1) 50%, rgba(38,50,56,1) 93%);
  background: -webkit-linear-gradient(144deg, rgba(55,71,79,1) 50%, rgba(38,50,56,1) 93%);
  background: linear-gradient(144deg, rgba(55,71,79,1) 50%, rgba(38,50,56,1) 93%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#37474f",endColorstr="#263238",GradientType=1);
}